<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inscription - AutisMono </title>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css" /> -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
        <link rel="icon" href="AutisMono.ico" />

    </head>

    <body>
        <div class="header">
      <h1><a href="index.html">AutisMono</a></h1>
    </div>
        

        <div class="container">

            <form method="POST" th:object="${userForm}" th:action="@{/registrationmedecin}">
                <h2 >Créez votre compte</h2>
                <div>
                <button class="btn" > <a th:href="@{/registrationmedecin}" href="registrationmedecin.html">Professionnel de Santé </a></button>  | <button class="btn" ><a th:href="@{/registrationpatient}"href="registration.html">Patient</a></button>
                </div>
                <div  th:classappend="${#fields.hasErrors('username') ? 'has-error' : ''}">
                    <input type="text" th:field="*{username}" placeholder="Identifiant"
                           autofocus="true"/>
                    <ul class="nobarre"><li class='error' th:errors="*{username}">Erreur sur l'identifiant</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('nom') ? 'has-error' : ''}">
                    <input type="text" th:field="*{nom}" placeholder="Nom"/>
                    <ul class="nobarre"><li class='error' th:errors="*{nom}">Erreur sur le nom</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('prenom') ? 'has-error' : ''}">
                    <input type="text" th:field="*{prenom}" placeholder="Prénom"/>
                    <ul class="nobarre"><li class='error' th:errors="*{prenom}">Erreur sur le prénom</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('adresse') ? 'has-error' : ''}">
                    <input type="text" th:field="*{adresse}" placeholder="Adresse"/>
                    <ul class="nobarre"><li class='error' th:errors="*{adresse}">Erreur sur l'adresse</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('ville') ? 'has-error' : ''}">
                    <input type="text" th:field="*{ville}" placeholder="Ville"/>
                    <ul class="nobarre"><li class='error' th:errors="*{ville}">Erreur sur la ville</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('numtel') ? 'has-error' : ''}">
                    <input type="tel" th:field="*{numtel}" placeholder="Numéro de téléphone"/>
                    <ul class="nobarre"><li class='error' th:errors="*{numtel}">Erreur sur le numéro de tel</li></ul>
                </div>
                <div th:classappend="${#fields.hasErrors('email') ? 'has-error' : ''}">
                    <input type="email" th:field="*{email}"  placeholder="Nom.Prenom@somewhere.com"/>
                    <ul class="nobarre"><li class='error' th:errors="*{email}">Erreur sur le mail</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('numrpps') ? 'has-error' : ''}">
                    <input type="text" th:field="*{numrpps}" placeholder="Numéro RPPS"/>
                    <ul class="nobarre"><li class='error' th:errors="*{numrpps}">Erreur sur le numéro RPPS</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('specialite') ? 'has-error' : ''}">
                    <input type="text" th:field="*{specialite}" placeholder="Spécialité (expl : psychiatre)"/>
                    <ul class="nobarre"><li class='error' th:errors="*{specialite}">Erreur sur la spécialité</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('diplome') ? 'has-error' : ''}">
                    <input type="text" th:field="*{diplome}" placeholder="Diplômé(1=oui 0=non)"/>
                    <ul class="nobarre"><li class='error' th:errors="*{diplome}">Erreur sur le diplôme</li></ul>
                </div>
                <div  th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}">
                    <input type="password"  th:field="*{password}" placeholder="Mot de passe" />
                    <ul class="nobarre"><li class='error' th:errors="*{password}">Erreur sur le password</li></ul>
                </div>
                <div th:classappend="${#fields.hasErrors('passwordConfirm') ? 'has-error' : ''}">
                    <input type="password"  th:field="*{passwordConfirm}"
                           placeholder="Confirmation de mot de passe" />
                    <ul class="nobarre"><li class='error' th:errors="*{passwordConfirm}">Erreur confirmation password</li></ul>
                </div>


                <button type="submit" class="btn">S'inscrire</button>
            </form>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script th:src="@{/js/script.js}" src="../static/js/script.js"></script>
    </body>
</html>
